= simple_form_for [:users, course] do |f|
  .box-body
    .form-group
      = f.input :title
    .form-group
      = f.input :picture, as: :image_preview, input_html: { preview_version: :thumb }
      %p.help-block Выберите файл для добавления
    .form-group
      = f.input :visible, as: :radio_buttons, input_html: { class: 'minimal' }
    .box-footer
      = f.button :submit, 'Save', class: 'btn btn-primary'
