.col-md-9
  .box.box-primary
    .box-header.with-border
      %h3.box-title Recently Added Courses
      .box-tools.pull-right
        %button.btn.btn-box-tool{'data-widget' => 'collapse'}
          %i.fa.fa-minus
        %button.btn.btn-box-tool{'data-widget' => 'remove'}
          %i.fa.fa-times
    .box-body
      %ul.products-list.product-list-in-box
        - @dashboard.courses.each do |course|
          %li.item
            .row
              .col-md-6.col-xs-12
                .product-img
                  = image_tag(course.picture.admin_thumb, alt: 'Course picture')
                .product-info
                  %h4.product-title
                    = link_to course_path(course) do
                      = course.title
                  %span.product-description
                    = l(course.created_at, format: '%d %B %Y')
                  %hr
              .col-md-1.col-xs-12
                - if course.visible?
                  %span.label.label-success
                    Visible
                -else
                  %span.label.label-danger
                    Invisible
              .col-md-5.col-xs-12
                .btn-group.pull-right
                  = link_to 'Add lesson', new_course_lesson_path(course), class: 'btn btn-primary'
                  = link_to 'Edit', edit_users_course_path(course), class: 'btn btn-primary'
                  = link_to 'Delete', users_course_path(course), method: :delete, data: {confirm: 'Are you shure?'}, class: 'btn btn-primary'
            .row
              .col-md-6.col-xs-12
                %b
                  Количество уроков:
                = course.lessons.length
                %br
                - course.lessons.each do |lesson|
                  .product-title
                    = lesson.title
                    .btn-group.pull-right
                      = link_to 'Delete', course_lesson_path(course, lesson), method: :delete, data: {confirm: 'Are you shure?'}, class: 'btn btn-xs btn-primary'
                  %br
                =link_to 'Показать уроки', course_lessons_path(course), class: 'btn btn-primary'
              .col-md-6.col-xs-12
                %b
                  Участники:
                - course.participants.includes(:profile).each do |participant|
                  .row
                    .col-md-5.col-xs-12
                      .product-title
                        = participant.full_name if participant.first_name.present?
                    .col-md-4.col-xs-12
                      .product-title
                        = participant.email if participant.email.present?
                    .col-md-3
                      %div{ id: "expel-button-#{course.course_user_id(participant)}", style: ('display: none;' if participant.expelled?(course)) }
                        = link_to 'Отчислить', expel_course_participant_path(course, participant), method: :post, remote: true, class: 'btn btn-xs btn-primary'
                      %div{ id: "disabled-expel-button-#{course.course_user_id(participant)}", style: ('display: none;' unless participant.expelled?(course)) }
                        = link_to 'Отчислить', expel_course_participant_path(course, participant), method: :post, remote: true, class: 'btn disabled btn-xs btn-primary'
                  %br
    .box-footer.text-center
      = paginate @dashboard.courses
