= provide(:title, 'Dashboard')

%section.content-header
  %h1
    Dashboard
%section.content
  .row
    .col-md-3
      .box.box-primary
        .box-body.box-profile
          = image_tag 'user2-160x160.jpg', class: 'profile-user-img img-responsive img-circle', alt: 'User profile picture'
          -if current_user.first_name
            %h3.profile-username.text-center= current_user.full_name
          %p.text-muted.text-center
            = @dashboard.user.email
          - if current_user.has_role? :coach
            %ul.list-group.list-group-unbordered
              %li.list-group-item
                %b Courses
                %a.pull-right
                  = @dashboard.user.courses.count
            = link_to new_users_course_path, class: 'btn btn-primary btn-block' do
              %b Create new course
    - if current_user.has_role? :coach
      = render 'coach_panel'
    - else
      = render 'student_panel'
