= provide(:title, 'Dashboard')

%section.content-header
  %h1
    Dashboard
%section.content
  .row
    .col-md-3
      .box.box-primary
        .box-body.box-profile
          = image_tag 'user2-160x160.jpg', class: 'profile-user-img img-responsive img-circle', alt: 'User profile picture'
          -if current_user.first_name
            %h3.profile-username.text-center= current_user.full_name
          %p.text-muted.text-center
            = @dashboard.user.email
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Courses
              %a.pull-right
                = @dashboard.user.courses.count
          = link_to new_users_course_path, class: 'btn btn-primary btn-block' do
            %b Create new course
    .col-md-9
      .box.box-primary
        .box-header.with-border
          %h3.box-title Recently Added Courses
          .box-tools.pull-right
            %button.btn.btn-box-tool{'data-widget' => 'collapse'}
              %i.fa.fa-minus
            %button.btn.btn-box-tool{'data-widget' => 'remove'}
              %i.fa.fa-times
        .box-body
          %ul.products-list.product-list-in-box
            - @dashboard.courses.each do |course|
              %li.item
                .row
                  .col-md-6.col-xs-12
                    .product-img
                      = image_tag(course.picture.admin_thumb, alt: 'Course picture')
                    .product-info
                      %h4.product-title
                        = link_to course_path(course) do
                          = course.title
                      %span.product-description
                        = l(course.created_at, format: '%d %B %Y')
                      %hr
                      Количество уроков:
                      = course.lessons.length
                      %br
                      - course.lessons.each do |lesson|
                        .product-title
                          = lesson.title
                          .btn-group.pull-right
                            = link_to 'Delete', users_course_lesson_path(course, lesson), method: :delete, data: {confirm: 'Are you shure?'}, class: 'btn btn-xs btn-primary'
                        %br
                  .col-md-1.col-xs-12
                    - if course.visible
                      %span.label.label-success
                        Visible
                    -else
                      %span.label.label-danger
                        Invisible
                  .col-md-5.col-xs-12
                    .btn-group.pull-right
                      = link_to 'Add lesson', new_users_course_lesson_path(course), class: 'btn btn-primary'
                      = link_to 'Edit', edit_users_course_path(course), class: 'btn btn-primary'
                      = link_to 'Delete', users_course_path(course), method: :delete, data: {confirm: 'Are you shure?'}, class: 'btn btn-primary'
        .box-footer.text-center
          = paginate @dashboard.courses
