- if lesson.user_homework(current_user)
  %h3 Your homework:
  %p= lesson.user_homework(current_user).body
  .pull-right
    = link_to 'View', homework_path(lesson, lesson.user_homework(current_user))

= simple_form_for([lesson, homework], url: homeworks_path(lesson), remote: true) do |f|
  #mynewpost.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
            %span{'aria-hidden' => 'true'} &times;
          %h4#myModalLabel.modal-title Send hometask
        .modal-body
          = f.error_notification
          .field
            = f.input :body, class: 'homework-body'
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
          = f.button :submit, 'Send', class: 'btn btn-primary'
