.col-md-4
  .box.box-widget
    .box-header.with-border
      .user-block
        = image_tag 'user1-128x128.jpg', class: 'img-circle', alt: 'User profile picture'
        %span.username
          %a{href: '#'}
          -if course.user.first_name
            = course.user.full_name
          -else
            = course.user.email
        %span.description
          Shared publicly -
          = l(course.created_at, format: '%d %B %Y')
      .box-tools
        %button.btn.btn-box-tool{'data-toggle' => 'tooltip', title: 'Mark as read'}
          %i.fa.fa-circle-o
        %button.btn.btn-box-tool{'data-widget' => 'collapse'}
          %i.fa.fa-minus
        %button.btn.btn-box-tool{'data-widget' => 'remove'}
          %i.fa.fa-times
    .box-body
      = image_tag(course.picture.thumb, alt: 'Course photo', class: 'img-responsive pad')
      %h2= course.title
      .row
        .col-xs-6
          - if user_signed_in?
            - if current_user.expelled?(course)
              = link_to 'Вы отчислены', course_subscriptions_path(course), method: :post, remote: true, class: 'btn disabled btn-danger btn-block btn-flat'
            -else
              %div{ id: "subscription-button-#{course.id}", style: ('display: none;' if current_user.participate_in?(course)) }
                = link_to 'Подать заявку', course_subscriptions_path(course), method: :post, remote: true, class: 'btn btn-success btn-block btn-flat'
              %div{ id: "unsubscription-button-#{course.id}", style: ('display: none;' unless current_user.participate_in?(course)) }
                = link_to 'Отписаться', course_subscriptions_path(course), method: :delete, remote: true, class: 'btn btn-warning btn-block btn-flat'
        .col-xs-offset-2.col-xs-4
          = link_to 'Show more', course_path(course), class: "btn btn-primary btn-block btn-flat"
